@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root{
  --cor-fundo: hsl(0, 0%, 8%);
  --cor-principal: hsl(0, 0%, 12%);
  --cor-fundo-btn: hsl(0, 0%, 20%);
  --cor-texto-btn: hsl(0, 0%, 100%);
  --cor-texto: hsl(0, 1%, 58%);
  --cor-destaque: hsl(75, 94%, 57%);

  --fonte-principal: 'Inter', sans-serif;
}

body{
  background-color: var(--cor-fundo);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.principal{
  background-color: var(--cor-principal);
  height: 500px;
  width: 300px;
  margin-top: 6%;
  text-align: center;
  border-radius: 7px;
  font-family: var(--fonte-principal);
  color: var(--cor-texto-btn);
}

.img-principal{
  position: relative;
  border-radius: 50%;
  width: 130px;
  margin: 9%;
}

h1{
  font-size: 25px;
  font-weight: 700;
}

h2{
  color: var(--cor-destaque);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

p{
  color: var(--cor-texto);
}

.btn-principal{
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
}

a{
  text-decoration: none;
  color: var(--cor-texto-btn);
  background-color: var(--cor-fundo-btn);
  border: 2px solid none;
  padding: 10px 90px;
  border-radius: 5px;
  font-family: var(--cor-texto);
  font-weight: 400;
}

a:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-fundo);
}